@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .line-clamp-4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }
}

@layer base {
  body {
    @apply bg-navy-950 text-white;
  }
}